// White and grey
$white: #EEEEEE;
$grey: #E5E5F5;
// Blue
$blue: #020419;
$blue-1: #4E505E;
$blue-2: #81828C;
$blue-3: #B4B4BA;
// Green
$green: #047C75;
$green-1: #50A49F;
$green-2: #82BEBB;
$green-3: #B4D8D6;
// Gold
$gold: #D39126;
$gold-1: #E1B268;
$gold-2: #E9C893;
$gold-3: #F2DEBE;
// Yellow
$yellow: #F8B133;
$yellow-1: #FBC971;
$yellow-2: #FCD899;
$yellow-3: #FDE8C2;

// Gradients
$gr-1: linear-gradient(132.43deg, #00D315 0%, #86081F 85.94%);

// Bingo colors
$bingo-1: #01404A;
$bingo-2: #74B38E;
$bingo-3: #E4B207;
$bingo-4: #D0017F;
$bingo-5: #7DAF39;
$bingo-6: #C5A34C;
$bingo-7: #72176E;
$bingo-8: #AA4718;
$bingo-9: #00487C;
